<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments/header::resource" />

<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/products">Products</a>
            <a class="navbar-brand" href="/sales">Sales</a>
            <a class="navbar-brand" href="/discounts">Discounts</a>
        </div>
    </div>
</nav>

<body>
<div class="container">
    <div class="row">
        <h1>Statistics for today</h1>
    </div>
    <hr/>
    <div class="row">
        <table class="table">
            <tr>
                <th>Period</th>
                <th>Check Count</th>
                <th>Check Sum</th>
                <th>Average Check</th>
                <th>Check Sum With Discount</th>
                <th>Average Check With Discount</th>
                <th>Discount Sum</th>
            </tr>
            <tr th:each="s : ${stats}">
                <td th:text="${s.period}"></td>
                <td th:text="${s.salesCount}"></td>
                <td th:text="${s.costCommon}"></td>
                <td th:text="${s.costAverage}"></td>
                <td th:text="${s.costCommonWithDiscounts}"></td>
                <td th:text="${s.costAverageWithDiscounts}"></td>
                <td th:text="${s.discountSum}"></td>
            </tr>
        </table>
    </div>

    <div th:insert="fragments/footer::copy" />
</div>
</body>
</html>